<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About US</h2>
  <p class="text-zinc-300 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem temporibus vero adipisci tempore vitae illo ut quaerat cumque, dolore fuga! Architecto error corporis inventore sequi commodi doloribus aspernatur ipsam, eveniet quisquam dolorem ipsum eos quia perspiciatis corrupti deserunt quaerat, optio quae nam placeat dolore necessitatibus nostrum quam quas quo! Voluptates!</p>
</section>